body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #004280

  ;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: pink;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
#Contact {
    background-color: #1a8cff
    ;
    padding: 15px;
    margin: auto;
  }

  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
  .small_container{
    max-width: 1000px;
    margin:0 auto; 
}
  .col4{
    transition: .5s;
    flex-basis: 25%;
    min-width: 200px;
    margin: 50px 0px;
    padding: 0px 10px;
    text-align: center;
    }
.col4 img{
    width: 100%;
    max-height: 100%;
    margin: auto;

}

#container1{
  background-color: #f0f5f5;
  
}
.col4:hover{
  transform: translateY(-5px);
}
.col4 h4{
  font-weight: normal;
  color: #6f6c6c;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
/* ----------------- single product  details --------------  */

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50PX;
  height: 40PX;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid var(--highlight-color);
}

input:focus {
  outline: none;
}

.single-product .fa {
  color: var(--highlight-color);
  margin-left: 20px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}


@media only screen and (max-width:600px) {
  .row {
      align-items: center;
  }
  .col-2,
  .col-3,
  .col-4 {
      flex-basis: 100%;
  }
  .single-product .row {
      text-align: left;
  }
  .single-product .col-2 {
      padding: 20px 0;
  }
  .single-product h1 {
      font-size: 26px;
      line-height: 32px;
  }
  .cart-info p {
      display: none;
  }
}

.modal-login {
		color: #636363;
		width: 350px;
		margin: 30px auto;
	}
	.modal-login .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	.modal-login .modal-header {
		border-bottom: none;
		position: relative;
		justify-content: center;
	}
	.modal-login h4 {
		text-align: center;
		font-size: 26px;
	}
	.modal-login  .form-group {
		position: relative;
	}
	.modal-login i {
		position: absolute;
		left: 13px;
		top: 11px;
		font-size: 18px;
	}
	.modal-login .form-control {
		padding-left: 40px;
	}
	.modal-login .form-control:focus {
		border-color: #00ce81;
	}
	.modal-login .form-control, .modal-login .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-login .hint-text {
		text-align: center;
		padding-top: 10px;
	}
	.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}
	.modal-login .btn {
		background: #00ce81;
		border: none;
		line-height: normal;
	}
	.modal-login .btn:hover, .modal-login .btn:focus {
		background: #00bf78;
	}
	.modal-login .modal-footer {
		background: #ecf0f1;
		border-color: #dee4e7;
		text-align: center;
		margin: 0 -20px -20px;
		border-radius: 5px;
		font-size: 13px;
		justify-content: center;
	}
	.modal-login .modal-footer a {
		color: #999;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
  }
  
  @media only screen and (max-width:600){
    .row{
        text-align: center;
    } 
    .col-2 .col-3 .col-4{
        flex-basis:100%
    }

}

.footer{
  background-color:  #4d4dff
  ;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}



/*banner*/
.banner {
  width: 100%;
  background:url(http://s6.favim.com/orig/150112/background-cold-gif-nature-Favim.com-2380226.gif);
  /*https://i0.wp.com/media.giphy.com/media/5ERaOy5fQEIAU/giphy.gif*/
  background-size: cover;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding: 40px 15px;
}

.big-text {
  font-size: 130px;
  font-weight:800;
  animation-delay: 1s;
}
.banner a {
  display: inline-block;
  background: #fff;
  color: #36465d;
  text-transform: uppercase;
  padding: 15px;
  text-decoration: none;
  font-size: 40px;
  transition: .3s;
}
.banner a:hover {
  background: #333;
  color: #fff;
  padding: 15px 20px;
}


* {
  box-sizing: border-box;
}



h2 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}